<p>department works!</p>
<h2>Department List</h2>

<table border="1">
<tr>
<th>ID</th>
<th>Name</th>
<th>Address</th>
<th>Code</th>
</tr>
<!-- 
<tr *ngFor="let d of departments">
<td>{{d.departmentId}}</td>
<td>{{d.departmentName}}</td>
<td>{{d.departmentAddress}}</td>
<td>{{d.departmentCode}}</td>
</tr> -->
@for (d of departments; track d.departmentId) {
  <tr>
    <td>{{ d.departmentId }}</td>
    <td>{{ d.departmentName }}</td>
    <td>{{ d.departmentAddress }}</td>
    <td>{{ d.departmentCode }}</td>
  </tr>
}

</table>